<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ClientCode" value="ARG"/>
  </appSettings>
  <connectionStrings>
    <add name="AssetteEntities" connectionString="metadata=res://*/AssetteDBModel.csdl|res://*/AssetteDBModel.ssdl|res://*/AssetteDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=DEVGALR;persist security info=True;user id=sa;password=hammer;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>