<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
      <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
        <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
          <!--<section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false"/>-->
        </sectionGroup>
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
  <appSettings>
    <add key="ClientCode" value="ARG"/>
    <add key="UserCookieName" value="cookierptglry"/>
    <add key="UserActivityCookieName" value="cookieastpub"/>
    <add key="Version" value="1.0.0.24"/>
    <add key="ShowEasyPricingCTA" value="1"/>
    <add key="HubSpotPortalId" value="279299"/>
    <add key="HubSpotApiKey" value="08d305cd-b66b-4c0d-bf08-5c47b78c41c0"/>
    <add key="HubSpotFormGuid" value="48eecfdb-53c1-49e6-ac9d-d35261c11ab6"/>
  </appSettings>

  <system.web>

    <trace enabled="true"/>
    <compilation targetFramework="4.0" debug="true"/>
    <pages validateRequest="false"/>
    <httpRuntime requestValidationMode="2.0" maxRequestLength="2097151"/>

    <!--<customErrors mode="Off"/>-->

    <customErrors mode="On" defaultRedirect="default.aspx">
      <error statusCode="404" redirect="default.aspx"/>
      <error statusCode="500" redirect="maintenance.html"/>
    </customErrors>

  </system.web>

  <system.webServer>

    <httpErrors errorMode="Custom">
      <remove statusCode="404"/>
      <error statusCode="404" path="/default.aspx" responseMode="ExecuteURL"/>
      <remove statusCode="500"/>
      <error statusCode="500" path="/maintenance.aspx" responseMode="ExecuteURL"/>
    </httpErrors>

  </system.webServer>

  <connectionStrings>
    <add name="AssetteEntities" connectionString="metadata=res://*/AssetteDBModel.csdl|res://*/AssetteDBModel.ssdl|res://*/AssetteDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=DEVGALR;persist security info=True;user id=sa;password=hammer;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
</configuration>